{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load i18n %}
{% block title %}
  {% trans "App Details" %}
{% endblock title %}

{% block body %}
<div class="page_wrapper">

    <!-- Blog Detail Section Start -->
    <section class="blog_detail_section">
      <div class="container container-sm">
        <div class="blog_head">
          <div class="tags_info">
            <span class="tag">{{application.platform}}</span>
            <ul class="blog_info ml-auto">
              <li>{{application.updated_at}}</li>
            </ul>
          </div>
          <h1>{{application.name}}</h1>
        </div>
        <div class="blog_body">
          <div class="img" data-aos="fade-in" data-aos-duration="1500">
            <img src="{{application.logo.url}}" alt="image">
          </div>
          <p>{{application.description}}</p>

            <!-- Spin Diveder Start -->
            <div class="spinBlock">
                <span class="star"><img src="{% static 'images/smallStar.png' %}" alt="image"></span>
                <div >
                </div>
                <span class="star"><img src="{% static 'images/smallStar.png' %}" alt="image"></span>
            </div>
            <br>
            <!-- Spin Diveder End -->

	
          <h2 data-aos="fade-up" data-aos-duration="1500">{% trans 'Test Your App With Appium' %} </h2>
          <div class="highlight_text">
            <h3> {% trans '“ Appium is an open-source project and ecosystem of related software, designed to facilitate UI automation of many app platforms, including mobile (iOS, Android, Tizen), browser (Chrome, Firefox, Safari), desktop (macOS, Windows), TV (Roku, tvOS, Android TV, Samsung), and more! ”' %} </h3>
          </div>
        
        </div>

        <form class="form-group" data-aos="fade-up" data-aos-duration="1500" action="{% url 'create_test' %}" method="post" enctype="multipart/form-data">
          <div class="row">
            {% csrf_token %}
            {% bootstrap_form caps_form%}
            {% trans "Run Appium Test" as caps_text %}
            {% bootstrap_button type="submit" class="btn btn-lg btn-primary" content=caps_text %}
          </div>
      </form>

	
            <!-- Spin Diveder Start -->
            <div class="spinBlock">
              <span class="star"><img src="{% static 'images/smallStar.png' %}" alt="image"></span>
              <div >
              </div>
              <span class="star"><img src="{% static 'images/smallStar.png' %}" alt="image"></span>
          </div>
          <br>
          <!-- Spin Diveder End -->
      <h3 data-aos="fade-up" data-aos-duration="1500">
        {% trans 'By clicking Run Appium Test it will automate the following:' %} </h3>
      <div class="highlight_text">
      <ul>
        <li> {% trans 'Launch your Android emulator.' %} </li>
        <li> {% trans 'Install the APK on the emulator.' %} </li>
        <li> {% trans 'Run the app and capture the UI elements hierarchy from the initial screen.' %} </li>
        <li> {% trans 'Simulate a click on the first button and assess whether it causes a screen change.' %} </li>
        <li> {% trans 'Capture and store Screenshots of both the initial, subsequent screens and video recording of the entire testing process.' %} </li>
      </ul>
      </div>
      <br>

      <h3 data-aos="fade-up" data-aos-duration="1500">
        {% trans 'Please, Make sure that' %} </h3>
      <div class="highlight_text">
        <ul>
          <li>1- {% trans 'Your Appuim server is up and running' %} </li>
          <li>2- {% trans 'Have emulator with same device name you have entered.' %} </li>
        </ul>
      </div>


    </div>


  </div>

    
                    <!-- Contact Form Section Start -->
        <section class="contact_form white_text row_am" data-aos="fade-in" data-aos-duration="1500">
            <div class="contact_inner">
              <div class="container">
                <div class="dotes_blue"><img src="{% static 'images/blue_dotes.png' %}" alt="image"></div>
                <div class="section_title" data-aos="fade-up" data-aos-duration="1500" data-aos-delay="100">
                  <div class="row">
                        <span class="col-lg-1">{% trans 'Edit App' %}</span>
                        <div class="col-lg-2 ml-auto">
                          <form method="post" action="delete/">
                            {% csrf_token %}
                              <button class="btn btn-outline-danger icofont-bin"
                              data-bs-delay="0"
                              data-bs-toggle="tooltip" data-bs-placement="top" title="{% trans 'Delete' %}" type="submit">
                            
                              </button>
                          </form>
                        </div>
                    </div>
              </div>
                <form class="form-group" data-aos="fade-up" data-aos-duration="1500" action="{% url 'update_app' application.pk %}" method="post" enctype="multipart/form-data">
                  <div class="row">
                    {% csrf_token %}
                    {% for field in  form %}
                    <div class="col-md-4">
                      <div class="form-group">
                          {% bootstrap_field field label_class="text-light"%}
                      </div>
                  </div>
                    {% endfor %}
                    {% trans "Save" as Add_text %}
                    {% bootstrap_button type="submit" class="btn btn-lg btn-primary" content=Add_text %}
                  </div>
              </form>	
              </div>
            </div>
          </section>
          <!-- Contact Form Section End -->
          
            
        </div>
        
    </section>
    <!-- Blog Detail Section End -->
</div>
  <!-- Page-wrapper-End -->

{% endblock body %}
