{% extends 'base.html' %}  
{% load django_bootstrap5 %}    
{% load static %}
{% block title %}
    My Profile
{% endblock title %}

{% block body %}
        <br>
<div class="container">
    <div class="row">
        <h2>Update Profile</h2>
        <div class="btn_block ml-auto">
            <a class="btn btn-lg" href="{% url 'logout' %}">Logout</a>
        </div>
    </div>
</div>

<div class="container">
    <form method="post" enctype="multipart/form-data" novalidate>
        {% csrf_token %}
        {% bootstrap_form form %}
        <a class='' href="{% url 'password_change' %}">Change password ?</a>
        <br>
        <br>
        {% bootstrap_button type='submit' class="btn btn-lg btn-primary" content="Update" %}
    </form>				
</div>
{% endblock body %}
    