{% extends 'auth_base.html' %}
{% load static %}
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load i18n %}
{% block title %}
{% trans 'Password Reset Confirm' %}
{% endblock title %}
    
{% block right_section %}
    <!-- Right Side Start -->
    <div class="col-12 col-lg-auto h-100 pb-4 px-4 pt-0 p-lg-0">
        <div class="sw-lg-70 min-h-100 bg-foreground d-flex justify-content-center align-items-center shadow-deep py-5 full-page-content-right-border">
            <div class="sw-lg-50 px-5">
                <div class="sh-11">
                    <div class="sh-11">
                        <a href="#">
                          <img src="{% static 'img/logo.png' %}" alt="Logo">
                        </a>
                      </div>    
                </div>
            <div class="mb-5">
                <h2 class="cta-1 mb-0 text-primary">{% trans 'Password Reset' %},</h2>
                <h2 class="cta-1 text-primary">{% trans "let's get started" %}!</h2>
            </div>
            <div>
                <form method="post" enctype="multipart/form-data" class="tooltip-end-bottom" novalidate>
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    {% trans 'Reset' as trans_text %}
                    {% bootstrap_button type='submit' class="btn btn-lg btn-primary" content=trans_text %}
                </form>				
            </div>
            </div>
        </div>
    </div>
    <!-- Right Side End -->
    
{% endblock right_section %}
    
